*__pycache__*
.idea/
algorithms/REGAL_ori/
algorithms/AcrossNetwork*
temp/
algorithms/IONE/out/
algorithms/IONE/.idea/
run.sh
*.class
tests/final_mat.py
tests/h.py
tests/test_all.py
tests/test_datapreprocess.py
tests/test_fullysynthetic.py
tests/test_semisynthetic.py
algorithms/NAWAL/__pycache__/
# algorithms/__init__.py
log/
tools/
output/
algorithms/PALE/embeddings/
visualization/
numpy_emb/
dataspace/
data/
douban_data
tests/raw-data/
GCN_visual
.vscode/
econ-mahindas/
embeddings/
